*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --color-white: white;
    --color-white-100: rgb(229, 229, 229);
    --primary-hue: 255;
    --gray-hue: 240;
    --color-secondary: #88f1e6;
    --color-gray-100: hsl(var(--gray-hue),47%, 94%);
    --color-gray-200: hsl(var(--gray-hue),26%, 75%);
    --color-gray-600: hsl(var(--gray-hue),48%, 15%);
    --color-primary: hsl(var(--primary-hue), 100% ,50%);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --transition: all 500ms ease;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--color-gray-100);
  line-height: 1.7;
  overflow-x: hidden;
  background-color: var(--color-white-100);
}

.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
    color: var(--color-gray-100);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

a{
    color: var(--color-gray-100);
}

img{
    display: block;
    object-fit: cover;
    width: 60%;
}